<dialog class="owa-transport">
	<div class="content">
		<form method="dialog">
			<button
				class="o365button o365buttonRegular ms-font-m ms-fwt-r ms-fcl-np"
				title="Close"
				type="submit"
			>
				<span class="_fc_3 owaimg ms-Icon--x ms-icon-font-size-16 ms-fcl-ns-b"></span>
				<span
					class="_fc_4 o365buttonLabel _fc_2"
				>
					Close
				</span>
			</button>
		</form>
		<h2 class="ms-font-xl _opc_J" ref="title"></h2>
		<div class="body customScrollBar ms-font-s" ref="body">

		</div>
	</div>
</dialog>