<div>
	<span class="_op_71" ref="info"></span>
	<input
		aria-readonly="true"
		class="_op_a1 allowTextSelection textbox ms-font-s ms-fwt-sl ms-fcl-np ms-bcl-nta ms-bcl-nsa-h"
		readonly="readonly"
		ref="fileName"
		role="textbox"
	>
	<button
		aria-labelledby="_ariaId_550"
		class="_op_b1 o365button o365buttonOutlined ms-font-m ms-fwt-sb ms-fcl-np ms-bgc-nlr ms-bcl-nlr ms-fcl-b-f ms-bcl-tp-f"
		ref="button"
		type="button"
	>
		<span
			class="_fc_4 o365buttonLabel"
			id="_ariaId_550"
			ref="buttonText"
		>
		</span>
	</button>
	<div>
		<span class="_op_61 ms-font-weight-semibold owa-color-neutral-red">
			<span
				hidden
				ref="error"
			>
				Error:
			</span>
		</span>
		<span
			class="_op_61 ms-font-color-neutralPrimary"
			ref="errorText"
		>
		</span>
	</div>
	<input hidden ref="fileUpload" type="file">
</div>