.import-dialog {
	.upload {
		margin-bottom: 20px;
	}

	.owa-transport-table[hidden] {
		display: none;
	}

	.progress {
		margin-top: 15px;
	}

	.selectAll .text-large {
		font-size: 13px;
		padding-block: 7px;
	}
}